alembic==1.7.7
appdirs==1.4.4
APScheduler==3.10.1
backports.zoneinfo==0.2.1
blinker==1.5
certifi==2023.5.7
charset-normalizer==2.0.12
click==8.0.4
colorama==0.4.5
dataclasses==0.8
Flask==2.0.3
Flask-Migrate==4.0.1
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
gunicorn==20.1.0
idna==3.4
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
lxml==4.9.3
Mako==1.1.6
MarkupSafe==2.0.1
multitasking==0.0.11
numpy==1.19.5
pandas==1.1.5
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.49
timeout-decorator==0.5.0
typing_extensions==4.1.1
tzdata==2023.3
tzlocal==4.2
urllib3==1.26.16
Werkzeug==2.0.3
yfinance==0.1.87
zipp==3.6.0
