{% extends "base.html" %}

{% block content %}

<body>
    <div class="bg-gray-100 min-h-screen">
        <div class="flex">
            <div class="flex flex-col h-screen bg-gray-200 p-4">
                {% include 'sidebar.html' %}
            </div>
            <div class="w-3/4 p-4">
                <h1 class="text-2xl font-bold mb-4">{{ user.fullname }}!</h1>

                
                <h1 class="text-2xl font-bold mb-4">Account Statement</h1>

                <!-- <h2 class="text-2xl font-bold mb-4">Opening Balance {{opening_balance}}</h2> -->

                
                <div class="overflow-x-auto">
                    <table class="table-auto w-full border border-black-collapse text-sm" style="table-layout: auto">
                        <thead>
                            <tr class="bg-gray-200">
                                <!-- <th class="border border-gray-400 p-1">ID</th>
                                <th class="border border-gray-400 p-1">User ID</th>
                                <th class="border border-gray-400 p-1">Date and Time</th>
                                <th class="border border-gray-400 p-1">Symbol</th>
                                <th class="border border-gray-400 p-1">Name of Company</th>
                                <th class="border border-gray-400 p-1">Volume</th>
                                <th class="border border-gray-400 p-1">High</th>
                                <th class="border border-gray-400 p-1">Low</th>
                                <th class="border border-gray-400 p-1">Rise Count</th>
                                <th class="border border-gray-400 p-1">Morning Open Value</th>
                                <th class="border border-gray-400 p-1">Current Open Value</th>-->

                                <th class="border border-gray-400 p-1">STOCK ID</th>
                                <th class="border border-gray-400 p-1">Date and Time</th>
                                <th class="border border-gray-400 p-1">Symbol</th>
                                <th class="border border-gray-400 p-1">Name of Company</th>
                                <th class="border border-gray-400 p-1">RATE</th>
                                <th class="border border-gray-400 p-1">QUANTUM</th>
                                <th class="border border-gray-400 p-1">TOTAL VALUE</th>
                                <th class="border border-gray-400 p-1">SIGNAL</th>

                               
                                <th class="border border-gray-400 p-1">BUY AMOUNT</th>
                                <th class="border border-gray-400 p-1">SALE AMOUNT</th>
                                <th class="border border-gray-400 p-1">BALANCE</th>
                                <th class="border border-gray-400 p-1">REMARK</th>
                                <th class="border border-gray-400 p-1">HOLDINGS</th>

                                <th class="border border-gray-400 p-1">AVREAGE VALUE</th>
                                <th class="border border-gray-400 p-1">Create Datetime</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{opening_balance}}</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">-</td>
                            </tr>
                            {% for data in stock_data %}
                            <tr>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.id }}</td>
                                <!-- <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.user_id }}</td> -->
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.date_time }}</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.symbol }}</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.name_of_company }}</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.rate }}</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.quantum }}</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.total_value }}</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.signal }}</td>
                                
                             
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.buy_amt }}
                                </td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.sell_amt }}
                                </td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.balance }}
                                </td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.remark }}</td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.holdings }}</td>

                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.average_value }}
                                </td>
                                <td class="border border-gray-400 p-1 whitespace-nowrap">{{ data.create_datetime }}
                                </td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}