{% extends "base.html" %} {% block content %}

<body class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white shadow-md rounded px-8 py-8" style="margin: 0 25%;">
    <h1 class="text-3xl text-center font-bold mb-8">Terms and Conditions</h1>

    <div class="prose max-w-none">
      <p>
        <strong>1. </strong>This website is created for education and guidence purpose only.
      </p>
      <p>
        <strong>2. </strong>Every thing provided in the website is based on the information /data avaibale so far.
      </p>
      <p>
        <strong>3. </strong>We will give prompt technical support needed from time to time. No refund will be given for
        any reason.
      </p>
      <p>
        <strong>4. </strong>The values in trade market are fast fluctuating which are directly affecting your trade
        portfolio.
      </p>
      <p>
        <strong>5. </strong>There may be hurdels at your end like internet connection, internet speed, displaying speed
        etc.
      </p>
      <p><strong>6. </strong>This may lead towards delayed decision in trade transactions ultimately affecting your
        profit / loss.</p>
      <p>
        <strong>7. </strong>In fact trading in Equity market involves risk.
      </p>
      <p>
        <strong>8. </strong>The timely ,accurate and instant decisions are required to be taken. We are Data analysts
        and we provide accurate real time data for your information
      </p>
      <p>
        <strong>9. </strong>We just give guidence and not any directions for decision.
      </p>
      <p>
        <strong>10. </strong>Since the  full access of your Trading account rests with you only, the decisions taken by you will be your sole descretion.
      </p>
      <p>
        <strong>11. </strong>We are not a Registered Investment Adviser (RIA) nor  an  Investment Advisor . As buying and selling decisions are taken by you only,we are not responcible for any type of loss incurred to you  in any way
      </p>
      <p>
        <strong>12. </strong>Validity period of this software is maximum 3 years. Company reserves the right to continue or to discontinue the software verifying  the then senario.
      </p>


    </div>

    <!-- Centered back button -->
    <div class="flex justify-center mt-4">
      <a href="/register" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Back
      </a>
    </div>
  </div>
</body>

{% endblock %}