{% extends "base.html" %} {% block content %}

<div>
  <div class="bg-gray-100 min-h-screen">
    <div class="flex">
      <div class="flex flex-col h-screen bg-gray-200 p-4">
        {% include 'sidebar.html' %}
      </div>
      {% if is_trading_hours_flag %}

      <div class="flex flex-col h-screen bg-gray-200 p-4 w-full">
        <h1 class="text-2xl font-bold">{{user.fullname}}</h1>
        <h1 class="text-2xl font-bold">Trading Window</h1>

        <p class="mb-1">
          {% if total %} Showing {{ total }} records loaded at
          {{stocks[0].datetime}} {% endif %}
        </p>
        <!-- <p class="mb-4">Started on date {{ StartLoadedDate }}</p>
          <p class="mb-4">Ended on date {{ EndLoadedDate }}</p>
          <p class="mb-4">Time Taken In Minutes {{ TimeTakeninMin }}</p> -->

        <!-- <div class="pagination m-2 ">
            {% if current_page > 1 %}
                <a href="{{ url_for('tradingwindow', page=current_page - 1) }}">Previous</a>
            {% endif %}
            
            {% for page_num in range(1, total_pages + 1) %}
                {% if page_num == current_page %}
                    <span class="current">{{ page_num }}</span>
                {% else %}
                    <a href="{{ url_for('tradingwindow', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% endfor %}
        
            {% if current_page < total_pages %}
                <a href="{{ url_for('tradingwindow', page=current_page + 1) }}">Next</a>
            {% endif %}
        </div> -->

        <div class="overflow-auto" id="table-container">
          <table class="table-auto w-full border-collapse border">
            <thead class="bg-gray-200 sticky top-0">
              <tr>
                <!-- {% for header in headers %}
                  <th  class="border border-black px-1 text-sm">{{ header }}</th>
                  {% endfor %} -->
                <!-- <th  >Id</th> -->
                <!-- <th class="border border-black px-1 w-auto text-sm">
                    Date/Time/ Time Taken for Down loading
                  </th> -->
                <th>Company Details</th>

                <th>Volume</th>
                <!-- <th  >EMA (3)</th> -->
                <th>Short SMA (10)</th>
                <th>Long SMA (50)</th>
                <!-- <th  >VWAP</th> -->
                <!-- <th  >RSI (14)</th> -->
                <th>High (1)</th>
                <th>Low (1)</th>
                <!-- <th  >
                    Morning Open @9:15 am
                  </th> -->
                <th>Close @9:15 am</th>

                <!-- <th  >
                    Current Open (1)
                  </th> -->

                <th>SEV</th>
                <!--<th  >Start Earning</th> -->
                <th>MEV</th>
                <!--<th  >Morning Earning</th>-->
                <!-- <th  >Current Earning</th> -->

                <!-- <th  >
                    Close (-4 Candle)
                  </th> -->
                <!-- <th  >Close (-3 Candle)</th> -->
                <th>Close (-2 Candle)</th>

                <th>Close (-1 Candle)</th>
                <th>Current Price (1)</th>
                <th>Signal</th>
                <th>REQD. Profit</th>
              </tr>
            </thead>

            <tbody>
              {% for stock_data in stocks %}
              <tr>
                <!-- <td    >
                    {{ stock_data.id }}
                  </td> -->
                <!-- <td
                     
                     
                  >
                    {{ stock_data.datetime }}
                  </td> -->
                <td style="white-space: wrap">
                  <strong>Symbol:</strong>
                  <br /><a
                    href="/stock_details/{{ stock_data.ticker_symbol }}"
                    style="color: white; background-color: blue; padding: 0 5px"
                  >
                    {{ stock_data.ticker_symbol }}
                  </a>
                  <br />
                  <strong>ICICI Symbol:</strong>
                  {{ stock_data.icici_symbol}}
                  <br />
                  <strong>Company Name:</strong> <br />
                  {{ stock_data.company_name }}
                </td>
                <td>{{ stock_data.volume }}</td>
                <!-- <td    >
                    {{ stock_data.ema }}
                  </td> -->
                <td>{{ stock_data.short_sma }}</td>
                <td>{{ stock_data.long_sma }}</td>
                <!-- <td    >
                    {{ stock_data.vwap }}
                  </td> -->
                <!-- <td    >
                    {{ stock_data.rsi }}
                  </td> -->
                <td>{{ stock_data.high }}</td>
                <td>{{ stock_data.low }}</td>
                <!-- <td
                     
                     
                  >
                    {{ stock_data.first_open }}
                  </td> -->

                <!-- <td    >
                    {{ stock_data.open }}
                  </td> -->
                <td>{{ stock_data.first_close }}</td>
                <td>{{ stock_data.start_earning }}</td>

                <td>{{ stock_data.first_earning }}</td>
                <!-- <td    >
                    {{ stock_data.current_earning }}
                  </td> -->
                <!-- <td    >
                    {{ stock_data.close_4c_ago }}
                  </td> -->
                <!-- <td    >
                    {{ stock_data.close_3c_ago }}
                  </td> -->
                <td>{{ stock_data.close_2c_ago }}</td>

                <td>{{ stock_data.close_1c_ago }}</td>
                <td>{{ stock_data.close }}</td>
                <td>{{stock_data.MySignal}}</td>

                <td>
                  {{ stock_data.MyProfit }}

                  <!-- {% if stock_data.average_value > 0 %} {{
              '{:.2f}'.format(stock_data.MyProfit) }} {% endif %} -->
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      {% else %}
      <div class="w-3/4 p-4 text-center">
        <div class="flex justify-center items-center h-screen">
          <h1 class="text-4xl">You are outside trading hours.</h1>
        </div>
      </div>

      {% endif %}
    </div>
  </div>
</div>
<style>
  th,
  td {
    border: 1px solid black;
    padding: 5px;
    font-size: 16px;
  }
</style>

{% endblock %}
